html, body { margin: 0; border: 0 none; padding: 0; height: 100%; background-color: #000; overflow: hidden;}

.container {
	width: 80%;
	height: 99%;
	margin: 0px;
/*	border: 1px solid #fff; */
	float: left;

}
#panel{
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*border: 2px solid #f00;*/
}